<p style="color: green"><%= notice %></p>

<h1>Neighbourhoods</h1>

<div id="neighbourhoods" class="container">
  <% @neighbourhoods.each do |neighbourhood| %>
    <div class="row">
      <div class="col">
        <%= link_to neighbourhood.name, neighbourhood, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New neighbourhood", new_neighbourhood_path %>
