<div id="<%= dom_id tree %>">
  <p>
    <strong>Common name:</strong>
    <%= tree.common_name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= tree.location %>
  </p>

  <p>
    <strong>Diameter:</strong>
    <%= tree.diameter %>
  </p>

</div>
