<div id="<%= dom_id request %>">
  <p>
    <strong>Service area:</strong>
    <%= request.service_area %>
  </p>

  <p>
    <strong>Service request:</strong>
    <%= request.service_request %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= request.location %>
  </p>

</div>
